[![Maintainability](https://api.codeclimate.com/v1/badges/e897778bd75491914adc/maintainability)](https://codeclimate.com/github/arnested/go-healthy/maintainability)
[![Test Coverage](https://api.codeclimate.com/v1/badges/e897778bd75491914adc/test_coverage)](https://codeclimate.com/github/arnested/go-healthy/test_coverage)
[![Build Status](https://travis-ci.com/arnested/go-healthy.svg?branch=master)](https://travis-ci.com/arnested/go-healthy)
[![Release](https://img.shields.io/github/release/arnested/go-healthy.svg)](https://github.com/arnested/go-healthy/releases/latest)
[![Go Report Card](https://goreportcard.com/badge/arnested.dk/go/healthy/)](https://goreportcard.com/report/arnested.dk/go/healthy)
[![CLA assistant](https://cla-assistant.io/readme/badge/arnested/go-healthy)](https://cla-assistant.io/arnested/go-healthy)
[![GoDoc](https://godoc.org/arnested.dk/go/healthy?status.svg)](https://godoc.org/arnested.dk/go/healthy)

{{ .Emit }}
