---
name: Release
on:
  workflow_run:
    workflows: ["Build and test"]
    branches: [main]
    types:
      - completed
permissions:
  contents: write
  security-events: write
  actions: read
jobs:
  bump-version:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: arnested/go-version-action@v2
        id: go-version
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.75.0
        id: version
        env:
          GITHUB_TOKEN: ${{ github.token }}
          WITH_V: true
          DEFAULT_BUMP: patch
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
      - name: Set up Go ${{ steps.go-version.outputs.go-mod-version }}
        uses: arnested/setup-go@rc
        with:
          go-version: ${{ steps.go-version.outputs.go-mod-version }}
      - name: Build changelog
        run: go tool chglog init
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ github.token }}
